{% extends "base.html" %} {% load render_bundle from webpack_loader %} {% load staticfiles %} {% load i18n %} {% load l10n
%} {% block main %}
<style>
    body {
        background-image: url("{{background_image}}");
        background-size: 100%;
        background-repeat: no-repeat;
    }
</style>
<div id="root" class="content">Sample Extends
    <div id="dice" />
    <div id="container" style="background-color: white;" />
</div> {% render_bundle 'register' %} {% render_bundle 'vendors' %} {% endblock %}